.logo {
    align-items: start;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 20px;
}

.button {
    color: white;
    background-color: #01934a; 
    font-size: large;  
    margin-right: 10px;
    padding: 5px;
}