main {
    margin-top: 30px;
}

.logo {
    align-items: start;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.sorteiobody {
    box-shadow: 2px 2px 2px #01934a;
    border: outset 1px #01934a;
    width: 20%;
    height: 20%;
}

h2 {
    padding: 10px;
    margin: 10px;
}

.inputfield {
display: flex;
padding: 10px 10px;
gap: 20px;
}

.inputtitulo {
display: flex;
flex-direction: column;
font-weight: bold;
font-size: 20px;
width: 150px;
}

.inputfield input {
background-color: transparent;
border: none;
border-bottom: solid 2px #01934a;
}

.button2 {
    padding: 10px;
    margin: 10px;
    font-size: medium;
    width: 130px;
    font-weight: bold;
}

.button2:hover {
   color: white;
   background-color: #01934a;
}

#result {
font-weight: bold;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
}

.btnremove {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.dataname {
    font-weight: bold;
}

#tabledatas {
margin: 5px;
padding: 5px;

}

.resultmix {
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

.cardsstyle2 {
    box-shadow: 2px 2px 2px #01934a;
    border: outset 1px #01934a;    
}

.link {
    text-decoration: none; 
    color: inherit; 
}

