
.logo {
    align-items: start;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 20px;
}

.buttonnav {
    border: #01934a;
    color: white;
    background-color: #01934a; 
    font-size: medium;  
    margin-right: 15px;
    padding: 10px;
}

.collapsetext {

position: absolute;
font-size: large;
border: outset 2px #01934a;
margin-top: 5px;
padding: 6px;
width: 200px;
z-index: 1;
background: white;
}

.listcontacts {
    margin-left: 5 px;    
}

.sorteiomodes {
    margin-top: 10px;
}

.cardsstyle {
    z-index: 0;   
}

.sorteiobody {
    box-shadow: 6px 6px 6px #01934a;
    border: outset 2px #01934a;
    width: 80%;
    height: 80%;
}

h2 {
    padding: 10px;
    margin: 10px;
}

.inputfield {
display: flex;
padding: 10px 10px;
gap: 20px;
}

.inputtitulo {
display: flex;
flex-direction: column;
font-weight: bold;
font-size: 20px;
width: 150px;
}

.inputfield input {
background-color: transparent;
border: none;
border-bottom: solid 2px #01934a;
}

.button2 {
    padding: 10px;
    margin: 10px;
    font-size: medium;
    width: 100px;
    font-weight: bold;
}

.button23 {
    padding: 10px;
    margin: 10px;
    font-size: medium;
    width: 150px;
    font-weight: bold;
}

#result {
font-weight: bold;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
}

.btnremove {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.dataname {
    font-weight: bold;
}

#tabledatas {
margin: 10px;
padding: 10px;

}

.resultmix {
        font-weight: bold;
        font-size: xx-large;
        margin: 10px;
        padding: 10px;
        width: 300px;
    }

        .mixsorteio {
            width: 360px;
        
        }  


@media (min-widht: 512px) and (max-widht: 1024)   {

    .mixsorteio {
        width: 800px;
    
    }    
}